{% extends 'base.html'%}
{% block content%}
           <!-- #getting general news -->
            <h3> Entertainment news</h3>
             <ul>
                {% for general in general_news %}
                    <li>{{ general.description}}</li>
                    <li>{{general.id}}</li>
                    <li>{{general.name}}</li>

                    <li>{{general.categoty}}</li>
                    <li>{{general.url}}</li>
                    <li>{{general.language}}</li>
                    <a href=" /news/{{general.id}}">Read More{{general.id|truncate(10)}}</a>
                    

                {% endfor %}
            </ul>

{%endblock%}

<!-- <h1>hello world</h1> -->