{% extends 'base.html'%}
{% block content%}
           <!-- #getting general news -->
           <div class="row">
            <h3> General news</h3>
             <ul>
                {% for general in general_news %}
                <div class="col-md-4">
                    <li>{{ general.description}}</li>
                    <li>{{general.id}}</li>
                    <li>{{general.name}}</li>

                    <li>{{general.categoty}}</li>
                    <li>{{general.url}}</li>
                    <li>{{general.language}}</li>
                    <a href=" /news/{{general.id}}">Read More{{general.id|truncate(10)}}</a>
                    
                </div>
                {% endfor %}
            </ul>
            </div>

{%endblock%}

<!-- <h1>hello world</h1> -->